<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/user.css">
</head>
<body>

    <div class="heading">
        <h1> Complaint Portal</h1>
    </div>
    <div class="container">

        <h1>Personal Information</h1>
        <div class="info">
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Email:</strong> johndoe@example.com</p>
            <p><strong>Phone Number:</strong> +1 (555) 123-4567</p>
            <button>Pending Complaints</button>
            <button>File New Complaints</button>

        </div>

    </div>
    <div class="disclamer">
        <p class="warning">*Disclaimer: Please refrain from lodging false complaint.It may lead to hevy fines / imprisonment. </p>
    </div>
</body>
</html>